@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opercity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}

h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #285a91 0%, #1f9cfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .5s;
}

h2:hover {
  padding-left: 1.5rem;
}

h3 {
  padding: 0.5rem 0;
  color: #474747;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, #285a91 0%, #1f9cfd 100%), url(../images/header-image.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
}

header #logo-text {
  position: absolute;
  left: 7rem;
  top: 4rem;
  font-size: 5.6rem;
  color: #fff;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

header #header-text {
  position: absolute;
  left: 7rem;
  bottom: 23%;
  color: #fff;
  letter-spacing: -0.1rem;
}

header #header-text-main {
  font-size: 7.2rem;
  line-height: 7.2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

header #header-text-sub {
  margin-top: 3rem;
  font-size: 2.4rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

main::after {
  content: '';
  display: block;
  clear: both;
}

main #section-about {
  background-color: #ededed;
  padding: 7rem 0 6.5rem 6rem;
  width: 66.66666%;
  min-height: 42rem;
  float: left;
}

main #section-about::after {
  content: '';
  display: block;
  clear: both;
}

main #section-about-words {
  width: 65%;
  padding: 2rem 2rem 0 0;
  float: left;
}

main #section-about-words p {
  padding: 1.5rem 0;
  font-size: 1.4rem;
  text-align: justify;
}

main #section-about-photo {
  position: relative;
  width: 35%;
  float: left;
}

main #section-about-photo .photo {
  position: absolute;
  width: 18rem;
  height: 12rem;
  transition: all 0.5s;
}

main #section-about-photo .photo:hover {
  transform: scale(1.1);
  padding: 1rem;
  border: 3px solid #285a91;
  z-index: 10;
}

main #section-about-photo .photo:nth-child(1) {
  left: 1rem;
  top: 3rem;
}

main #section-about-photo .photo:nth-child(2) {
  left: 6rem;
  top: 10rem;
}

main #section-about-photo .photo img {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
}

main #section-etc {
  width: 33.33334%;
  float: left;
}

main #section-etc [id^='etc-'] {
  height: 14rem;
}

main #section-etc .etc:nth-child(1) {
  background-color: #a8d8ff;
}

main #section-etc .etc:nth-child(2) {
  background-color: #c1e1ff;
}

main #section-etc .etc:nth-child(3) {
  background-color: #d6eaff;
}

main #section-etc .etc .etc-icon {
  padding-top: 3.5rem;
  width: 30%;
  text-align: center;
  float: left;
}

main #section-etc .etc .etc-icon i {
  font-size: 6rem;
}

main #section-etc .etc .etc-text {
  padding-top: 1rem;
  width: 70%;
  float: left;
}

main #section-etc .etc .etc-text p {
  margin: 0.5rem 0;
  padding-right: 3.5rem;
  text-align: justify;
  font-size: 1.4rem;
}

footer {
  color: #b9b9b9;
  background-color: #3f4a56;
  padding: 9rem 7rem 3rem 7rem;
}

footer::after {
  content: '';
  display: block;
  clear: both;
}

footer #logo-text-footer {
  width: 25%;
  font-size: 4rem;
  text-transform: uppercase;
  float: left;
}

footer #copyright {
  width: 75%;
  font-size: 1.2rem;
  float: left;
}

footer #copyright p:nth-child(1) {
  margin-bottom: 2rem;
  word-break: break-all;
  text-align: justify;
  column-count: 3;
  column-gap: 3rem;
  column-rule-style: dashed;
  column-rule-width: 1px;
  column-rule-color: #888;
  column-width: 1rem;
}

.btn-text {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #285a91;
  display: inline-block;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #285a91;
  transition: all 0.5s;
}

.btn-text:hover {
  color: #fff;
  background-color: #1f9cfd;
  border-bottom: none;
}
/*# sourceMappingURL=index.css.map */