header {
  width: 100%;
  height: 90vh;
  // css gradient generator
  background-image: linear-gradient(to right, $color-primary 0%, $color-secondary 100%), url(../images/header-image.jpg);
  // gradient와 url합치기
  background-blend-mode: multiply;
  // contain은 img를 다보이게 하는것, cover하면 꽉차게 img를 키운다. 짤리더라도
  background-size: cover;
  position: relative;
  #logo-text {
    position: absolute;
    left: 7rem;
    top: 4rem;
    font-size: 5.6rem;
    color: $color-white;
    // 글자 간격
    letter-spacing: -0.1rem;;
    text-transform: uppercase;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }
  #header-text {
    position: absolute;
    left: 7rem;
    bottom: 23%;
    color: $color-white;
    letter-spacing: -0.1rem;
    &-main {
      font-size: 7.2rem;
      line-height: 7.2rem;

      animation-name: moveInRight;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: backwards;
    }
    &-sub {
      margin-top: 3rem;
      font-size: 2.4rem;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-delay: 1.5s;
      animation-fill-mode: backwards;
    }
  }
}