//animation
@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opercity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }

}