// 구글 폰트 - 나눔고딕
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; // 16px의 62.5% = 10px = 1rem
}
body {
  padding: 3rem;
  font-family: 'Nanum Gothic', sans-serif;
}