h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, $color-primary 0%, $color-secondary 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all .5s;
  &:hover{
    padding-left: 1.5rem;
  }
}
h3 {
  padding: 0.5rem 0;
  color: $color-grey-dark;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}